<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>

    {{>navbar}}

    <!-- main_header -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/about.jpg" alt="image" class="img-fluid">
                </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I am a <span class="txt_clr"> Mern Stack Developer, </span> Designer and programmer.
              </h1>
              <a href="https://www.linkedin.com/in/suraj-kumar-07/" target="_blank"><button>check now</button></a>
            </div>
            <!-- right side div -->
            
          </div>
        </div>
      </div>
    </div>

    <!-- footer code -->
   {{>footer}}
  </body>
</html>
